/*##############################################################################
CSS style sheet for the app ICM
################################################################################
*/

#bodyConnexion{
    background-image: url("http://localhost:8080/crud/theme/img/imgconnexion2.jpg" );
    padding:4%

}

#divConnexionTitle{
    text-align:center;
    width: 100%;
}

#imgStyle{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%
}

#connexionButton{
    width:50%;
    margin-left:auto; 
    margin-right: auto
}


#divConnexionBody{
    margin: auto;
    opacity: 0.88;
    width:40%; 
    padding-left:0.5%;
    padding-right:0.5%;
    border-radius: 5%;
    height:80%; 
    text-align:center;
    background-color:white
}

#divImgConnexion{
    margin-top:2%;
    margin-bottom:1%;
}

.tablePageConnexion{
    margin: auto;
}


#connectionButton{
    width:50%;
    margin-left:auto; 
    margin-right: auto
}

.tablePageConnection{
    margin: auto;
}

.identification .tdConnexion{
    text-align: right;
    vertical-align: bottom;
    margin: auto;
}

#titleConnexion{
    font-size:600%;
    font-style:oblique;
}

.bodySite{
    background-image: url("http://localhost:8080/crud/theme/img/imgpages.jpg" ); 
    padding-bottom:5%;
    padding-top:5%;
}

h2.performancesTitle{
    /*background-image: url("http://localhost:8080/crud/theme/img/imgwelcomepageperformances.jpg" );
      font-size: 32px;
      line-height: 150px;*/
    color: #5AD3D1; 
    /*padding:32px;
      font-weight:lighter;
      text-align:center;
      display:inline;*/
}

.divContainer{
    width:80%;
}

#formAddAccount{
    margin:auto;
}

.divCommonHeader { 
    margin:0% ; 
    border-radius: 25px; 
    opacity: 0.97;
    background-color: #e6e6e6;
}

.pagesHeader{
    text-align:left; 
    padding-left:3%;
    float: left;
}

#divPageUser, #divPageUserForm{
    text-align: right; 
    padding-top:2%;
    padding-right:3%;
    float: right;
}

.divContent {
    text-align:left; 
    padding:5%; 
    text-align:left; 
    background-color:#f2f2f2;
    opacity: 0.99;
}

.popupAlert{
    border: 1px; 
    border-radius: 25px;
}

.list{
    width: 50%;
}

.trAccount {
    border-top:2px solid;
}

#tableClientsListAll{
    width: 100%;
}

#cents, #amount{
    height:30px;
    width:80px;
}

.listRow{
    font-family:georgia, serif;
    font-size: 100%;
    font-weight: bold;
}