/*##############################################################################
CSS style sheet for the app ICM
################################################################################
*/

#bodyConnexion{
    background-image: url("http://localhost:8080/crud/theme/img/imgconnexion2.jpg" );
    padding:4%

}

#divConnexionTitle{
    text-align:center;
    width: 100%;
}

#imgStyle{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%
}

#connexionButton{
    width:50%;
    margin-left:auto; 
    margin-right: auto
}


#divConnexionBody{
    margin: auto;
    opacity: 0.88;
    width:40%; 
    padding-left:0.5%;
    padding-right:0.5%;
    border-radius: 5%;
    height:80%; 
    text-align:center;
    background-color:white
}

#divImgConnexion{
    margin-top:2%;
    margin-bottom:1%;
}

.tablePageConnexion{
    margin: auto;
}


#connectionButton{
    width:50%;
    margin-left:auto; 
    margin-right: auto
}

.tablePageConnection{
    margin: auto;
}

.identification .tdConnexion{
    text-align: right;
    vertical-align: bottom;
    margin: auto;
}

#titleConnexion{
    font-size:600%;
    font-style:oblique;
}

.bodySite{
    background-image: url("http://localhost:8080/crud/theme/img/imgpages.jpg" ); 
    padding-bottom:5%;
    padding-top:5%;
}

h2.performancesTitle{
    color: #5AD3D1; 
}

.img-medaille{
    height: 128px;
    width: 75px;
    position: absolute;
    top: 172px;
    right: 124px;
}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup h2{
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover{
    color: #5AD3D1;
}
.popup .content{
    max-height: 30%;
    overflow: auto;
}

/*Let's make it appear when the page loads*/
.overlay:target:before{
    display: none;
}

.overlay:before{
    content:"";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 9;
}

.overlay .popup{
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: fixed;
    top: 90px;
    left: 35%;
    padding: 25px;
    margin: 70px auto;
    z-index: 10;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.overlay:target .popup{
    top: -100%;
    left: -100%;
}

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlay .popup{
    width: 70%;
    left: 15%;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.divContainer{
    width:80%;
}

#formAddAccount{
    margin:auto;
}

.divCommonHeader { 
    margin:0% ; 
    border-radius: 25px; 
    opacity: 0.97;
    background-color: #e6e6e6;
}

.pagesHeader{
    text-align:left; 
    padding-left:3%;
    float: left;
}

#divPageUser, #divPageUserForm{
    text-align: right; 
    padding-top:2%;
    padding-right:3%;
    float: right;
}

.divContent {
    text-align:left; 
    padding:5%; 
    text-align:left; 
    background-color:#f2f2f2;
    opacity: 0.99;
}

.popupAlert{
    border: 1px; 
    border-radius: 25px;
}

.list{
    width: 50%;
}

.trAccount {
    border-top:2px solid;
}

#tableClientsListAll{
    width: 100%;
}

#cents, #amount{
    height:30px;
    width:80px;
}

.listRow{
    font-family:georgia, serif;
    font-size: 100%;
    font-weight: bold;
}