
/**
*######################################################################
*Style for the connexion page
*########################################################################
**/
#bodyConnexion{
    background-image: url("http://localhost:8080/crud/theme/img/imgconnexion2.jpg" );
    padding:4%

}

/*#divHeaderConnexion{
    position: relative; margin:0px ;
    background-color: #f2f2f2
}*/

#divConnexionTitle{
    text-align:center;
    width: 100%;
/*    float: right*/

}
#imgStyle{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%
}

#divConnexionBody{
    //float: left;
    margin: auto;
    opacity: 0.88;
    width:40%; 
    padding-left:0.5%;
    padding-right:0.5%;
    border-radius: 5%;
    height:80%; 
    text-align:center;
    background-color:white
}

#divImgConnexion{
    margin-top:2%;
    margin-bottom:1%;
}

#connectionButton{
    width:50%;
    margin-left:auto; 
    margin-right: auto
}


.tablePageConnection{
    margin: auto;
}

.td{
    text-align: right;
    vertical-align: bottom;
    margin: auto;
}

#titleConnexion{
    font-size:600%;
    font-style:oblique;
}

/**
*########################################################################
**/

/**
*######################################################################
*Common pages
*########################################################################
**/

.bodySite{

    background-image: url("http://localhost:8080/crud/theme/img/imgpages.jpg" ); 
    padding-bottom:5%;
    padding-top:5%;
}

.divContainer{
    width:80%;
}

#form1{
    margin:auto;
}

.divCommonHeader { 
    margin:0% ; 
    border-radius: 25px; 
    opacity: 0.97;
    background-color: #e6e6e6;
}

#divPageTitle, #divPageTitleForm{
    text-align:left; 
    padding-left:3%;
    float: left;
}

#divPageUser, #divPageUserForm{
    text-align: right; 
    padding-top:2%;
    padding-right:3%;
    float: right;
}

.divContent {
    text-align:left; 
    padding:5%; 
    text-align:left; 
    background-color:#f2f2f2;
    opacity: 0.99;
}



#popupCompteTransferCompte, #popupChoixDesComptesTransf, #popupChoixCliTransfCompte, #popupChoixDesClientsTransf, #popupDeleteClientDisplayClient, #popupDelClientListAll, #popupErrorTransfCompte{
    border: 1px; 
    border-radius: 25px;
}

#tableComptesAllComptes, #tableClientAllComptes, #tableCompteTransfertCompteaCompte, #tableCompteTransfertCompteACompte {
    width: 50%;
}

.trCompte {
    border-top:2px solid;
}

#tableClientsListAll{
    width: 100%;
}

#centimes, #montant{
    height:30px;
    width:80px;
}

.listRow{
    font-family:georgia, serif;
    font-size: 100%;
    font-weight: bold;
}

#mdr{}
/**
*########################################################################
**/

